{% extends "layout.twig" %}

{% block title %} Registrar usuario {% endblock %}

{% block main_container %}
    <h2>Registrar usuario</h2>
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error.msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form class="form-horizontal" method="post" action="/users/signup">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input id="name" type="name" class="form-control" name="name"
                       placeholder="name" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellido:</label>
            <div class="col-sm-10">
                <input id="surname" type="surname" class="form-control" name="surname"
                       placeholder="surname" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input id="email" type="text" class="form-control" name="email"
                       placeholder="email@email.com"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dateOfBirth">Año de nacimiento:</label>
            <div class="col-sm-10">
                <input id="dateOfBirth" type="date" class="form-control" name="dateOfBirth"
                       placeholder="DD/MM/AAAA" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input id="password" type="password" class="form-control" name="password"
                       placeholder="contraseña" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Repite Password:</label>
            <div class="col-sm-10">
                <input id="password2" type="password" class="form-control" name="password2"
                       placeholder="Repite la password" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </form>
{% endblock %}